/* aboutPage.css */

/* Styles for the entire About Page */
.about-section {
  background-color: #f0f0f0;
  padding: 120px 0 0 0;
}

/* Container styles for the content sections */
.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Section heading styles */
.section-heading {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.section-heading.center-team {
  text-align: center;
}

/* Company description styles */
.company-description {
  font-size: 18px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* History section styles */
.history-side {
  background-color: #fff;
  padding: 40px 0;
}

/* Team section styles */
.team-section {
  background-color: #f0f0f0;
  padding: 40px 0;
}

/* Team members container styles */
.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Individual team member card styles */
/* Individual team member card styles */
.team-member {
  flex: 1;
  max-width: calc(25% - 20px); /* 25% width with a small gap between */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin-right: 20px; /* Add a small gap between team members */
}

/* Adjust margin-right for the last team member in each row */
.team-member:nth-child(4n) {
  margin-right: 0;
}


/* Team member photo styles */
.team-member-photo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 0 auto 15px;
  object-fit: cover;
}

/* Team member name styles */
.team-member-name {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

/* Team member title styles */
.team-member-title {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

/* Team member description styles */
.team-member-description {
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}
