@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Raleway:wght@700&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  font-weight: bold; 
}

.header {
  background-color: #f0f0f0;
  padding: 20px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 80px;
  transition: 0.5s ease;
  font-family: 'Raleway', sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  padding: 15px 0 0 0;
}

.companyName {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.menu {
  list-style-type: none;
  display: flex;
  gap: 40px;
  padding-left: 0;
}

.menu li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 18px;
  position: relative;
  transition: color 0.6s ease;
  font-family: 'Raleway', sans-serif;
}

.menu li a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #007bff;
  left: 0;
  bottom: 0;
  transition: width 0.6s ease;
}

.menu li a:hover {
  color: #007bff;
}

.menu li a:hover::before {
  width: 100%;
}

.login-link {
  position: absolute;
  top: 20px;
  right: 20px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.6s ease;
  font-family: 'Raleway', sans-serif;
}

.login-link:hover {
  color: #333;
}

.display {
  display: none;
}