.containertwo {
    text-align: center;
    padding: 40px;
    display: flex;
    align-items: center;
  }
  
  .partnerContainertwo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    gap: 20px;
    padding-left: 50px;
  }
  
  .partnerLogotwo {
    max-width: 150px;
    height: auto;
  }
  
  .topic {
    padding-left: 34%;
  }
  