body {
    margin: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/images/sam.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
  }
  
  .registrationForm {
    background-color: #e3e3e3;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
  }
  
  .registrationForm h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  input {
    width: 93.5%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .registrationButton {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .registrationButton:hover {
    background-color: #0056b3;
  }
  
  .loginLink {
    color: #007bff;
    text-decoration: none;
  }
  
  .loginLink:hover {
    text-decoration: underline;
    color: #0056b3;
  }
  
  .loginLink::before {
    content: "Already have an account? ";
    color: #333;
  }

  .login {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 20px;
  }
  
  .login:hover {
    color: #0056b3;
  }